@model Livraria_MVC.Models.Livro

@{
    ViewBag.Title = "Exluir Livro";
}

<h2>Delete</h2>

<h3>Você tem certeza que deseja excluir o livro?</h3>
<div>
    <h4>Livro</h4>
    <hr />
    <dl class="dl-horizontal">      

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano_Edicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano_Edicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Autor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autor.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Editora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Editora.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
